<p>
    Kitob olgan talaba:  
    <a href="/talabalar/{{record.talaba.id}}/"> {{record.talaba.ism}} {{record.talaba.familiya}} </a>
</p>
<br>
<p>
    Kitob: 
    <a href="/kitoblar/{{record.kitob.id}}/"> {{record.kitob.nomi}} </a>
</p>
<br>
<p>
    Kutubxonachi: {{record.admin.ism}} {{record.admin.familiya}}
</p>
<br>
<p>
    Olingan sana: {{record.olingan_sana}}  Qaytarish sanasi: {{record.qaytarish_sana}}
</p>
<a href="/recordlar/{{record.id}}/delete/confirm/">
    <button>
        Recordni o'chirish
    </button>
</a>
<hr>
<a href="/recordlar/">Ortga qaytish</a>